<?xml version="1.0"?>

<robot name="transmitter_target" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="id" default="0" />
	<xacro:arg name="frame_id" default="world" />
	
	<!-- Base Link -->
    <link name="transmitter_target">
      <!--<inertial>
        <pose>0 -0.1 0.95 0 0 0</pose>
        <mass>80.0</mass>
        <inertia>
          <ixx>24.88</ixx>
          <ixy>0</ixy>
          <ixz>0</ixz>
          <iyy>25.73</iyy>
          <iyz>0</iyz>
          <izz>2.48</izz>
        </inertia>
      </inertial>-->
    <inertial>
      <origin xyz="0 0 1" rpy="0 0 0"/>
      <mass value="80"/>
      <inertia
        ixx="22.48" ixy="0.0" ixz="0.0"
        iyy="25.73" iyz="0.0"
        izz="2.48"/>
    </inertial>

    <visual>
      <origin xyz="0 0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh>
         <uri>model://person_standing/meshes/standing.dae</uri>
        </mesh>
      </geometry>
      <material name="orange"/>
    </visual>

    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh>
         <uri>model://person_standing/meshes/standing.dae</uri>
        </mesh>
      </geometry>
    </collision>

    </link>

  <material name="orange">
    <color rgba="${255/255} ${108/255} ${10/255} 1.0"/>
  </material>
 
	<gazebo reference="transmitter_target">
    <material>Gazebo/Orange</material>
  </gazebo>		

	<gazebo>
		<plugin name="arva_transmitter" filename="libarva_sim_transmitter.so">
      <id>$(arg id)</id>
			<frame_id>$(arg frame_id)</frame_id>
		</plugin>
    <static>true</static>
  </gazebo>
</robot>
